#hero {
  background-image: url('../img/hero-bg.jpg');
  height: 400px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content  {
    
    h2 {
      text-align: center;
      margin-bottom: 30px;
      color: #fff;
    }

    input {
      padding: 10px 15px;
    }

    select {
      padding: 10px 30px 10px 10px;
    }

    input, select {
      font-family: 'Raleway', sans-serif;
      text-transform: capitalize;
    }
  }
}